*{
    font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", "Comic Neue", sans-serif;
    font-size: 24px;
}

p.small {
	font-size: 22px;
}

a.small {
    font-size: 22px;
}
